<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    </head>
    <body>
        <ul>
            <li><a href="http://127.0.0.1:8000">Home</a></li>
            <li><a href="http://127.0.0.1:8000/blog">Blog</a></li>
            <li><a href="http://127.0.0.1:8000/about">About</a></li>
        </ul>
        <h1>About page</h1>
    </body>
</html>
