<!DOCTYPE html>
<html>
    <head>
        <title>Blog list</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <style>
            p#page-number {
                font-size: 80%;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a href="http://127.0.0.1:8000">Home</a></li>
            <li><a href="http://127.0.0.1:8000/blog">Blog</a></li>
            <li><a href="http://127.0.0.1:8000/about">About</a></li>
        </ul>
        <h1>Blog list</h1>
        <p>This page lists the available entries of this blog.</p>
        <ol>
            <li><a href="http://127.0.0.1:8000/blog/en/2017/ricky-knocks-out-mike-tyson.html">Ricky knocks out Mike Tyson</a></li>
            <li><a href="http://127.0.0.1:8000/blog/pt/2015/cabo-verde-ganha-mundial.html">Cabo Verde ganha mundial de futebol</a></li>
            <li><a href="http://127.0.0.1:8000/blog/en/2019/hillary-clinton-vampira.html">Hillary Clinton declara-se abertamente vampira</a></li>
            <li><a href="http://127.0.0.1:8000/blog/fr/2019/frankly-disse-nao-fumar-maconha.html">Frankly disse nao fumar mais maconha</a></li>
        </ol>
        <p id="page-number">Page: {{ page }}</p>
    </body>
</html>
