{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <p>{% trans %}Esta e a pagina principal do website{% endtrans %}.</p>
    <p>Current locale set to: <code>{{ in_session }}</code></p>
{% endblock %}
